.Pagination {
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    h1 {
        font-size: 25px;
        width: 183px;
        text-align: center;
    }
    .icon {
        color: white;
        font-size: 30px;
        position: relative;
        bottom: 1.5px;
    }
}
