.mt-1{margin-top: 4px !important;}
.mt-2{margin-top: 8px !important;}
.mt-3{margin-top: 12px !important;}
.mt-4{margin-top: 16px !important;}
.mt-5{margin-top: 20px !important;}

.mr-1{margin-right: 4px !important;}
.mr-2{margin-right: 8px !important;}
.mr-3{margin-right: 12px !important;}
.mr-4{margin-right: 16px !important;}
.mr-5{margin-right: 20px !important;}

.mb-1{margin-bottom: 4px !important;}
.mb-2{margin-bottom: 8px !important;}
.mb-3{margin-bottom: 12px !important;}
.mb-4{margin-bottom: 16px !important;}
.mb-5{margin-bottom: 20px !important;}

.ml-1{margin-left: 4px !important;}
.ml-2{margin-left: 8px !important;}
.ml-3{margin-left: 12px !important;}
.ml-4{margin-left: 16px !important;}
.ml-5{margin-left: 20px !important;}

.mx-1{margin: 0 4px !important;}
.mx-2{margin: 0 8px !important;}
.mx-3{margin: 0 12px !important;}
.mx-4{margin: 0 16px !important;}
.mx-5{margin: 0 20px !important;}

.my-1{margin: 4px 0 !important;}
.my-2{margin: 8px 0 !important;}
.my-3{margin: 12px 0 !important;}
.my-4{margin: 16px 0 !important;}
.my-5{margin: 20px 0 !important;}

.ma-1{margin: 4px !important;}
.ma-2{margin: 8px !important;}
.ma-3{margin: 12px !important;}
.ma-4{margin: 16px !important;}
.ma-5{margin: 20px !important;}

.pt-1{padding-top: 4px !important;}
.pt-2{padding-top: 8px !important;}
.pt-3{padding-top: 12px !important;}
.pt-4{padding-top: 16px !important;}
.pt-5{padding-top: 20px !important;}

.pr-1{padding-right: 4px !important;}
.pr-2{padding-right: 8px !important;}
.pr-3{padding-right: 12px !important;}
.pr-4{padding-right: 16px !important;}
.pr-5{padding-right: 20px !important;}

.pb-1{padding-bottom: 4px !important;}
.pb-2{padding-bottom: 8px !important;}
.pb-3{padding-bottom: 12px !important;}
.pb-4{padding-bottom: 16px !important;}
.pb-5{padding-bottom: 20px !important;}

.pl-1{padding-left: 4px !important;}
.pl-2{padding-left: 8px !important;}
.pl-3{padding-left: 12px !important;}
.pl-4{padding-left: 16px !important;}
.pl-5{padding-left: 20px !important;}

.px-1{padding: 0 4px !important;}
.px-2{padding: 0 8px !important;}
.px-3{padding: 0 12px !important;}
.px-4{padding: 0 16px !important;}
.px-5{padding: 0 20px !important;}

.py-1{padding: 4px 0 !important;}
.py-2{padding: 8px 0 !important;}
.py-3{padding: 12px 0 !important;}
.py-4{padding: 16px 0 !important;}
.py-5{padding: 20px 0 !important;}

.pa-1{padding: 4px !important;}
.pa-2{padding: 8px !important;}
.pa-3{padding: 12px !important;}
.pa-4{padding: 16px !important;}
.pa-5{padding: 20px !important;}


.d-flex{display: flex !important;}
.justify-start{justify-content: flex-start !important;}
.justify-center{justify-content: center !important;}
.justify-end{justify-content: flex-end !important;}
.align-start{align-content: flex-start !important;}
.align-center{align-content: center !important;}
.align-end{align-content: flex-end !important;}