* {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
hr {
    color: #e0e0e0;
    margin: 0;
    opacity: 1;
}
header {
    z-index: 1;
    background-color: white;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
main {
    padding: 10px 10px 70px;
    min-height: 100vh;
}
.container {
    max-width: 476px;
    margin: 0 auto;
}
.MuiBottomNavigation-root {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}
.MuiFormControl-root {
    width: 100%;
}
.MuiListItem-root.MuiListItem-gutters {
    border-bottom: 1px solid #e0e0e0;
    &:last-child {
        border-bottom: none;
    }
}
.MuiDialog-paperWidthSm {
    width: 90%;
}
.MuiButtonBase-root.MuiIconButton-root {
    padding: 7px;
}
.card {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    overflow: hidden;
    border: none;
    border-radius: 4px;
    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #3f51b5;
        color: #fff;
        padding: 16px;
        &_ttl {
            font-size: 1.25rem;
            font-weight: 500;
            letter-spacing: 0.0125em;
            line-height: 2rem;
            word-break: break-all;
        }
        &_btn {
            background-color: white !important;
        }
    }
    &_body {
        padding: 16px;
    }
    &_footer {
        display: flex;
        padding: 8px;
        align-items: center;
        border-top: 1px solid #e0e0e0;
        justify-content: flex-end;
    }
}
#mypage {
    .MuiAvatar-root.MuiAvatar-circular {
        width: 70px;
        height: 70px;
    }
    .MuiCardHeader-content {
        .MuiTypography-body2 {
            font-size: 18px !important;
        }
    }
}
