* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
textarea {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px;
}
h4 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 5px;
}
hr {
    color: #e0e0e0;
    margin: 0;
    opacity: 1;
}
header {
    .MuiAvatar-circular {
        border: 2px solid #1976d2 !important;
    }
}
main {
    padding: 70px 10px 70px;
    min-height: 100vh;
}
.container {
    max-width: 476px;
    margin: 0 auto;
}
.MuiBottomNavigation-root {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}
.MuiCardActions-root {
    border-top: 1px solid #e0e0e0 !important;
    justify-content: space-between;
}
.MuiFormControl-root {
    width: 100%;
}
.MuiListItem-root.MuiListItem-gutters {
    border-bottom: 1px solid #e0e0e0;
    &:last-child {
        border-bottom: none;
    }
}
.MuiDialog-paperWidthSm {
    width: 90%;
}
.MuiButtonBase-root.MuiIconButton-root {
    padding: 7px;
    background-color: white !important;
}
.MuiCardHeader-subheader {
    font-size: 13px !important;
}
.card {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border: none;
    border-radius: 4px;
    overflow: hidden;
    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1976d2;
        color: #fff;
        padding: 12px;
        &_left {
            &_main {
                font-size: 1.25rem;
                font-weight: 500;
                letter-spacing: 0.0125em;
                line-height: 2rem;
                word-break: break-all;
            }
            &_sub {
                font-size: 15px;
            }
        }
        &_right {
            &_btn {
                border-radius: 50% !important;
                background-color: white !important;
            }
        }
    }
    &_body {
        padding: 16px;
    }
    &_footer {
        display: flex;
        padding: 8px;
        align-items: center;
        border-top: 1px solid #e0e0e0;
        justify-content: flex-end;
    }
}
#mypage {
    .MuiAvatar-root.MuiAvatar-circular {
        width: 70px;
        height: 70px;
    }
    .MuiCardHeader-content {
        .MuiTypography-body2 {
            font-size: 18px !important;
        }
    }
}
