body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.MuiTypography-subtitle1 {
    font-size: 14px;
    font-weight: bold !important;
    color: rgba(0, 0, 0, 0.54);
    margin: 0 0 5px;
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    padding: 0 5px !important;
    background-color: white !important;
}
.MuiDialog-paperWidthSm {
    width: 90%;
}
.MuiButtonBase-root.MuiIconButton-root {
    padding: 7px;
    background-color: white !important;
}
.MuiLoadingButton-root {
    .MuiSvgIcon-root {
        margin-left: 10px;
    }
}
.MuiModal-root{
    .MuiCardContent-root{
        max-height: 60vh;
        overflow-y: scroll;
    }
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .ellipsis {
    white-space: nowrap; /* テキストを折り返さないようにする */
    overflow: hidden; /* コンテナーからはみ出た部分を隠す */
    text-overflow: ellipsis; /* はみ出た部分を省略記号で表示 */
}